@import "../../../assets/less/base/colors.less";

.ServiceProviderProfile {
  margin-bottom: 20px;
  position: relative;
  margin-top: 70px;

  .callpopup{
   
    &-content{
      border-radius: 10px;
      padding: 0px !important;
      background: linear-gradient(to left top, #4185f4, #80deea) !important;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12) !important;
      border: none !important;
      width: 45% !important;
      color: #ffffff !important;
      .callme-model{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        // width: 430px;
        // height: 260px;
        padding: 40px 10px;
        .left{
          flex: 1;
          align-items: center;
          display: flex;
          justify-content: center;
          border-right: 1px solid rgba(249, 249, 249, 0.12);
          img{
            width: 50px;
            height: 50px;
            // margin-bottom: 20px;
          }
        }
        .right{
          display: flex;
          justify-content: center;
          flex-direction: column;
          flex: 3;
          padding-left: 30px;
        }
        .close {
          position: absolute;
          top: 10px;
          right: 3px;
          cursor: pointer;
        }
        img{
          width: 15px;
          margin-right: 10px;
        }
      }
    }
  }

  .detailsHeader {
    background-color: #ffffff;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);

    .leftSide {
      background-color: #f5f8fc;
    }

    &-leftSideflex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      padding-bottom: 10px;

      .avatar img {
        margin: 30px 0 20px 0;
        width: 140px;
        height: 140px;
        border-radius: 50%;
        background-color: #fff;
        align-items: center;
      }

      hr {
        width: 232px;
        margin: auto;
        border: 1px solid @borderColor1;
      }

      .star {
        margin: auto;
        padding-bottom: 23px;

        .rate {
          padding-right: 5px;
        }
      }

      .jobs {
        display: flex;
        flex-direction: row;
        padding-top: 23px;
        padding-left: 25px;
        align-items: center;
        .number {
          padding-right: 5px;

          h2 {
            color: #1a3591;
            font-weight: bold;
          }
        }

        // .text {
        //  padding-top: 3px;
        // }
      }

      .experience {
        display: flex;
        flex-direction: row;
        padding-top: 16px;
        padding-left: 25px;
        align-items: center;

        .number {
          padding-right: 5px;

          h2 {
            color: #1a3591;
            font-weight: bold;
          }
        }

        // .text {
        //   padding-top: 3px;
        // }
      }

      .time {
        padding-top: 16px;
        padding-left: 20px;
        padding-bottom: 35px;
      }
    }

    &-nameFlex {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .nameSection {
        height: auto;
        font-size: 16px;
        font-weight: bold;
        color: @primaryColor;
        cursor: pointer;
        position: relative;
        // margin-right: 50px;
        h2 {
          color: #1a3591;
          font-weight: bold;
          width: fit-content;
        }

        span {
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: @lightDarkGreen;
          margin-left: 5px;
          bottom: 8px;
        }
      }

      .leftSideNameSection {
        display: flex;
        align-content: flex-end;
        justify-content: flex-end;
        color: #57911a;

        .verfied {
          padding-right: 34px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 5px;
          }
        }

        .heart {
          width: 30px;
          height: 27px;
          cursor: pointer;

          .heart_icon {
            transform: scale(1);

            &:hover {
              animation: bouncePencil 0.5s ease-in;
            }
          }
        }
      }
    }

    &-departmentFlex {
      padding-top: 25px;

      .tags_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 75%;
        padding-top: 18px;

        .tags {
          // flex-basis: 25%;
          padding: 0px 10px;
          margin: 0 10px 10px 0;
          // height: 23px;
          border-radius: 4px;
          background-color: @bg1;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            // height: 17px;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: @fontColor1;
          }
        }
      }

      .right {
        flex: 1;
        align-items: flex-end;

        .chat {
          margin-right: 5px;
          border-radius: 15px;
          width: 90px;
          height: 30px;
          background-color: @secondaryColor;
          border: solid 1px @secondaryColor;
          color: @White;
        }

        .call {
          border-radius: 15px;
          width: 90px;
          height: 30px;
          background-color: @primaryColor;
          border: solid 1px @primaryColor;
          color: @White;
        }

        .createjob {
          margin-left: 18px;
          margin-right: 1px;
          border-radius: 15px;
          width: 129px;
          height: 20px;
          background-color: #4185f4;
          border: solid 1px #693afb;
          color: #ffffff;
          font-size: 11px;
          background-color: #693afb;
        }
      }
    }

    &-paragraph {
      padding-top: 39px;
      color: @color1;
      font-size: 14px;
      font-weight: 500;

      p {
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: @color1;
      }
    }
  }

  .rightSide {
    padding: 35px 35px 35px 31px !important;
  }

  .create_job {
    position: absolute;
    top: 5px;
    right: -105px;
    border: 1px solid @primaryColor;
    padding: 7px 10px;
    border-radius: 20px;
    background: @primaryColor;
    cursor: pointer;

    span {
      color: @White;
    }
  }

  .callme-model {
    display: flex;
    flex-direction: column;
    align-items: row;
    height: 100%;
   
    &-header {
      // padding: 0px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid @borderColor1;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
      padding: 0 10px;
      height: 60px;

      .title {
        white-space: nowrap;
        font-size: 17px;
        flex: 1;
      }

      .close {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
      img{
        width: 15px;
        margin-right: 10px;
      }
    }

    .mobileNumber {
      font-size: 32px;
      font-weight: bolder;
      padding: 10px 0 0 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .ServiceProviderProfile .detailsHeader-departmentFlex {
    display: block;
    padding: 0;
    
  }
  .ServiceProviderProfile .callme-model-header{
    .title{
      
      white-space: normal;
      font-size: 16px;
      flex: 1;
    }
    img{
      width: 15px;
      margin-top: 4px;
    }


  }

  .ServiceProviderProfile {
    .detailsHeader {
      padding: 34px 5px 0px 0px;
    }


    
  }
  .ServiceProviderProfile {
    .callpopup{
      &-content{
        width:95%!important;
      }
    }
  }

  .ServiceProviderProfile .detailsHeader-departmentFlex .tags_container {
    width: 106%;
    padding-top: 5px;
    min-height: 65px;
  }

  .ServiceProviderProfile .detailsHeader-departmentFlex .tags_container .tags {
    font-size: 11px;

    span {
      // height: 17px;
    }
  }

  .ServiceProviderProfile .detailsHeader-departmentFlex .right .chat {
    width: 80px;
    font-size: 11px;
    height: 20px;
    background-color: #42bdfa;
    border: solid 1px #42bdfa;
  }

  .ServiceProviderProfile .detailsHeader-departmentFlex .right .call {
    width: 80px;
    font-size: 11px;
    height: 20px;
  }

  .ServiceProviderProfile .detailsHeader-leftSideflex .avatar img {
    // margin: 30px 0 20px 0;
    width: 81px;
    height: 81px;
  }

  .ServiceProviderProfile .rightSide {
    padding: 1px 5px 0px 7px !important;
  }

  .ServiceProviderProfile .detailsHeader .leftSide {
    height: 150px;
    background-color: white;
  }

  .ServiceProviderProfile .detailsHeader-nameFlex .nameSection h2 {
    font-size: 17px;
  }

  .successrate {
    display: none;
  }

  .successfulljobs {
    display: none;
  }

  .ServiceProviderProfile .detailsHeader-leftSideflex hr {
    display: none;
  }

  .ServiceProviderProfile .detailsHeader-paragraph {
    margin-left: -116px;
    padding-top: 5px;
  }

  .ServiceProviderProfile .detailsHeader-paragraph p {
    font-size: 12px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
  }

  .ServiceProviderProfile .detailsHeader-leftSideflex {
    padding-left: 12px;
    // height: -webkit-fill-available;
  }

  .ServiceProviderProfile
    .detailsHeader-nameFlex
    .leftSideNameSection
    .heart
    .heart_icon {
    width: 18px;
    margin-top: -6px;
  }

  .ServiceProviderProfile .detailsHeader-nameFlex .leftSideNameSection .heart {
    width: 18px;
    height: 23px;
  }

  .ServiceProviderProfile .detailsHeader-nameFlex {
    padding-top: 10px;
  }

  .ServiceProviderProfile .detailsHeader-leftSideflex .star {
    display: none;
    // display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }

  .ServiceProviderProfile .detailsHeader-leftSideflex .star .rate {
    margin-top: -24px;
  }

  .ServiceProviderProfile .bottom {
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding: 6px 7px 6px 8px;
    background-color: #eef1f5;
    // margin-left: -6px;
    color: #4d86f1;
  }

  .ServiceProviderProfile {
    .detailsHeader-departmentFlex {
      .starmobile {
        padding-top: 10px;
      }
    }
  }

  .detailsHeader-paragraph {
    display: none;
  }

  .detailsHeader-paragraphmobile {
    padding: 20px;
    width: 100%;

    p {
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.57;
      letter-spacing: normal;
      color: #202022;
    }
  }

  .ServiceProviderProfile .create_job {
    display: none;
  }
}

@media (min-width: 769px) {
  .ServiceProviderProfile .detailsHeader-departmentFlex .right .createjob {
    display: none;
  }

  .ServiceProviderProfile .bottom {
    display: none;
  }

  .ServiceProviderProfile {
    .detailsHeader-departmentFlex {
      .starmobile {
        display: none;
      }
    }
  }

  .detailsHeader-paragraphmobile {
    display: none;
  }
  
 
}

@media (width: 320px) {
  .ServiceProviderProfile .bottom {
    width: 306px;
    margin-left: 7px;
  }
  
}

@media (width: 768px) {
  .ServiceProviderProfile .detailsHeader-departmentFlex {
    display: block;
    // width: 150%;
  }
  .ServiceProviderProfile {
    .popup-overlay .popup-content{
      width:95%!important;
    }
  }

  .ServiceProviderProfile .detailsHeader-departmentFlex .right {
    // margin-top: -35px;
    display: flex;
    flex: 1;
    align-items: self-start;
    justify-content: flex-end;
    // margin-right: -28px;
  }
  
}